* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #114084; /* Color of the scrollbar handle */
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a2c59; /* Darker color when hovering over the handle */
}

html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/* Navbar starts here */

.navbar {
  width: 100%;
  height: fit-content;
  background-color: #114084;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Position it at the top */
  left: 0;
  z-index: 1000;
  border-bottom: solid 2px white;
}

.navtitle {
  font-family: "Gruppo", sans-serif;
  margin: 10px;
  color: whitesmoke;
}

.list a {
  padding-bottom: 5px;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  margin: 10px;
  border-bottom: solid white 0px;
}

/* #homesec{
    border-bottom: 2px solid white;
}

#homsec :hover{
    animation: none;
} */

@keyframes borderIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes borderOut {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* Apply the animation to the border */
.list a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.25s ease-in-out;
}

.list a:hover::after {
  width: 100%;
}

.contactus {
  padding: 10px 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border-bottom: solid white 0px;
  cursor: pointer;
  border: 0;
  margin-left: 10px;
}

.contactus a {
  text-decoration: none;
  color: black;
}

.listbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* -------------------------------------------- */

/* Terms & Conditions */

.terms :hover {
  color: rgb(52, 52, 249);
}

.tnc {
  /* position: absolute; */
  margin: 70px 10px 0px 10px;
  padding: 10px 10px 0px 10px;
  cursor: pointer;
  color: rgb(255, 0, 0);
  display: inline-block;
  font-size: 21px;
}

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure pop-up is on top */
}

.popup-content-terms {
  position: relative;
  max-width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-content-terms h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.popup-content-terms p {
  margin-bottom: 15px;
}

.close-button-terms {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.popup-heading {
  font-size: 24px;
  color: #114084; /* Adjust color as needed */
  text-decoration: underline;
  cursor: pointer;
}

.close-button-terms {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #888; /* Adjust color as needed */
}

.popup-content-terms {
  position: relative;
  max-width: 80%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-content-terms h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.popup-content-terms p {
  margin-bottom: 15px;
}

/* Airbus A380 */

.main-section-1 {
  width: 100%;
  height: auto;
  padding: 20px; 
  margin-top: 70px;
  margin-bottom: 20px;
  /* position: absolute; */
}

.main-div {
  display: flex;
  border: 4px solid #114084;
  border-radius: 20px;
  background-color: #1b63c8;
  margin-bottom: 20px;

}

#modelname{
  color: white;
  /* font-family: "Gruppo", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

.aircraft-image {
  /* width: 50%; Adjust width as needed */
  width: 800px;
  padding: 10px;
}

.aircraft-image img {
  box-shadow: 3px 3px 10px black;
  border-radius: 20px;
  width: 100%;
  height: 70vh;
  /* padding: 20px; */
}

/* a380 aside section */

.aircraft-info {
  width: calc(50% - 20px); /* Adjust width as needed */
  padding: 20px;
  /* background-color: #f1f1f1; Light gray background color */
  /* border: 2px solid #114084; Blue border */
  /* border-radius: 5px; */
  /* margin-left: 20px;  */
  /* Space between image and information */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.aircraft-info h2 {
  color: #114084; /* Dark blue color */
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 35px;
  font-weight: 1000;
  font-family: "Montserrat", sans-serif;

}

.aircraft-info p {
  padding-left: 20px;
  margin-bottom: 5px;
  font-weight: 750;
  font-size: 25px;
  line-height: 1.5; /* Adjust line height as needed */
  font-family: "Montserrat", sans-serif;

}

.invest-button{
  padding: 15px 40px; /* Adjust padding as needed */
  /* background-color: #114084;  */
  background-color: white;
  /* Blue color */
  color: #114084;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px; /* Increase font size */
  margin-top: 10px; /* Add some space between the text and button */
}

.invest-button:hover{
  color: white;
  background-color: #134790;
}



/* Pop up */

.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  /* justify-content: center;
  align-items: center; */
}

.popup-content {
  background-color: #fff;
  width: 500px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* text-align: center; */
}

.company-name {
  font-family: "Gruppo", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #114084;
}

.airplane-thumbnail {
  margin-top: 20px;
}

.totalamount{
  margin-top: 30px;
}

.airplane-thumbnail img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.input-fields {
  margin-top: 20px;
}

.input-fields label {
  display: block;
  margin-bottom: 5px;
}

.input-fields input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-fields p {
  margin-top: 10px;
}

.buy-button {
  padding: 10px 20px;
  background-color: #114084;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.buy-button:hover {
  background-color: #0a2c59;
}

.popup-content {
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.close-button:hover {
  transform: scale(1.2);
}

/* Boeing 777 */



.invest-button2 {
  padding: 15px 40px; /* Adjust padding as needed */
  background-color: #114084; /* Blue color */
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px; /* Increase font size */
  margin-top: 10px; /* Add some space between the text and button */
}

/* .invest-button:hover {
  background-color: #0a2c59; /* Darker shade of blue on hover */


/* Pop up */

.popup-container2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  width: 500px;
  height: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.walletpara{
  padding: 20px;
}

.walletpara1{
  padding: 10px;
}

.company-name {
  font-family: "Gruppo", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #114084;
}

.airplane-thumbnail {
  margin-top: 20px;
}

.airplane-thumbnail img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.input-fields {
  margin-top: 20px;
}

.input-fields label {
  display: block;
  margin-bottom: 5px;
}

.input-fields input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-fields p {
  margin-top: 10px;
}

.buy-button2{
  padding: 10px 20px;
  background-color: #114084;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.buy-button:hover {
  background-color: #0a2c59;
}

.popup-content {
  position: relative;
}

.close-button2 {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.close-button:hover {
  transform: scale(1.2);
}

/* Footer */

.footer {
  width: 100%;
  height: 5vmax;
  background-color: #114084;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vmax 5vmax;
}

.footerNav p {
  color: white;
}